/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);


 /* body */

body{
 
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Anonymous Pro', monospace;  
  text-align: center;
  margin-left: auto;
  margin-right: auto;
 
}


body {background-color: rgb(177, 28, 182);}



/* button */
button {
    background-color: white;
    height: auto;
    position: center;
    top: 0 ;
    width: 70%;
    padding: 25px;
    border-radius: 35px;
    margin:auto;
    
}

.button {color: black;}

/* profile */

.profile img {border-radius: 20px; 
max-width: 45%;}

.profile {color: white;}

 
body {  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}
 
